@media (min-width: 850px) {

/********** Header **********/

.header {
    justify-content: space-between;
    margin: 0;
    height: 65px;
}

.org-name {
    margin: auto 20px;

    font-size: 29px;
    line-height: 0.5;
}

.python-logo {
    height: 17px;
}

.header__links {
    text-align: unset;
    width: 41px;
    margin: auto 0;

    flex-direction: row;
    justify-content: space-between;
}

.header__link--slack, .header__link--fb {
    display: none;
}

.header__link--slack-icon, .header__link--fb-icon {
    display: unset;
}

.header__spacer {
    display: unset;
    flex-grow: 2;
    height: 100%;
}

/********** Navigation **********/

.site-nav {
    width: unset;
    position: relative;
    top: 0;
    border-bottom: 0px;
}

}
