@import 'reset';

$primary: #3773a5;

body {
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    color: $primary;

    margin: 20px 0;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

.bold {
    font-weight: 700;
}

%unlink {
    text-decoration: none;
    color: black;
}


///// Navigation /////

.nav-wrapper {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

%nav-items {
    @extend %unlink;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

    position: relative;

    padding: 10px;
}

.nav {
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    &__site-name {
        @extend %unlink;
        font-weight: 800;
        font-size: 45px;
        letter-spacing: 5px;

        margin: auto 0;
    }

    &-links {
        margin: auto 0;
    }

    &-link {
        @extend %nav-items;

        &::after {
            position: absolute;
            content: '';
            left: 10px; // To offset the padding
            bottom: 2px; // Negative height of the border, minus 5px for looks, plus padding
            height: 3px;
            width: calc(100% - 20px); // To offset the padding
            background-color: $primary;
            opacity: 0;
            transition: opacity 0.25s;
        }

        &:hover::after, &--current::after {
            opacity: 1;
        }
    }

    &-cta {
        @extend %nav-items;
        text-transform: none;
        color: $primary;
        transition: background-color 0.25s, color 0.25s;

        border-radius: 5px;
        border: 1px solid $primary;

        margin-left: 20px;
        padding: 8px 10px;

        &:hover {
            background-color: $primary;
            color: white;
        }
    }
}


///// Content /////

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "header header"
                         "intro-image intro-text";
    grid-gap: 40px 40px;


    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

.name {
    grid-area: header;

    text-align: center;

    &__main {
        font-size: 75px;
    }

    &__subtext {
        display: inline-block;

        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;

        color: white;
        background-color: $primary;

        margin-top: 15px;
        margin-bottom: 15px;
        padding: 8px;
        border-radius: 5px;
    }
}


.intro-image {
    grid-area: intro-image;
    position: relative;

    background: url(spotlightphoto.jpg) center/cover no-repeat;

    height: 300px;
    border-radius: 5px;
    border: 3px solid $primary;

    &::before { // Just to denote there's a placeholder image
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        content: 'PLACEHOLDER IMAGE';
        color: white;
        font-weight: 600;
        font-size: 40px;
        text-align: center;

        padding-top: 130px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.85);
    }
}

.intro-text {
    grid-area: intro-text;
    align-self: center;

    &__heading {
        margin-top: 0;
    }

    &__text {
        text-align: center;
    }
}
