/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height: 1; }

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

body {
    font-family: 'Raleway', sans-serif; }

.bold {
    font-weight: 600; }

.nav-wrapper {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black; }

.nav-link, .nav-cta {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    position: relative;
    padding: 10px; }

.nav {
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .nav__site-name {
        font-weight: 800;
        font-size: 45px;
        letter-spacing: 5px;
        margin: auto 0; }
    .nav-links {
        margin: auto 0; }
    .nav-link::after {
        position: absolute;
        content: '';
        left: 10px;
        bottom: 2px;
        height: 3px;
        width: calc(100% - 20px);
        background-color: #3773a5;
        opacity: 0;
        transition: opacity 0.25s; }
    .nav-link:hover::after, .nav-link--current::after {
        opacity: 1; }
    .nav-cta {
        text-transform: none;
        background-color: #3773a5;
        color: white;
        transition: background-color 0.25s;
        border-radius: 5px;
        background-clip: padding-box;
        margin-left: 20px;
        padding: 8px 10px; }
        .nav-cta:hover {
            background-color: orangered; }

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "header header" "intro-image intro-text";
    grid-gap: 40px 40px;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px; }

.name {
    grid-area: header;
    text-align: center; }
    .name__main {
        font-size: 75px; }
    .name__subtext {
        display: inline-block;
        font-family: 'Open Sans', 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        background-color: #3773a5;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 8px;
        border-radius: 5px; }

.intro-image {
    grid-area: intro-image;
    position: relative;
    background: url(spotlightphoto.jpg) center/cover no-repeat;
    height: 300px;
    border-radius: 5px;
    border: 3px solid #3773a5; }
    .intro-image::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: 'PLACEHOLDER IMAGE';
        color: white;
        font-weight: 600;
        font-size: 40px;
        text-align: center;
        padding-top: 130px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.85); }

.intro-text {
    grid-area: intro-text; }
    .intro-text__heading {
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        color: #3773a5;
        margin-bottom: 20px; }
    .intro-text__text {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        line-height: 28px;
        text-align: justify; }

/*# sourceMappingURL=stylesheet.css.map */
