@import 'reset';
@import 'functions';

$primary: #ffd743;
$secondary: #3773a5;

body {
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    color: $secondary;

    margin: 20px 0;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

.bold {
    font-weight: 700;
}

%unlink {
    text-decoration: none;
    color: white; //black;
}


///// Navigation /////

.nav-wrapper {
    position: fixed;
    z-index: 4000;
    width: 100%;
    // margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px;
    box-sizing: border-box;

    // border-top: 1px solid black;
    // border-bottom: 1px solid black;

    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

%nav-items {
    @extend %unlink;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

    position: relative;

    padding: 10px;
}

.nav {
    max-width: 1000px;
    height: 36px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    &__site-name {
        @extend %unlink;
        font-weight: 800;
        font-size: 36px;
        letter-spacing: 5px;

        margin: auto 0;
    }

    &-links {
        margin: auto 0;
    }

    &-link {
        @extend %nav-items;

        &::after {
            position: absolute;
            content: '';
            left: 10px; // To offset the padding
            bottom: 2px; // Negative height of the border, minus 5px for looks, plus padding
            height: 3px;
            width: calc(100% - 20px); // To offset the padding
            background-color: $primary;
            opacity: 0;
            transition: opacity 0.25s;
        }

        &:hover::after, &--current::after {
            opacity: 1;
        }
    }

    &-cta {
        @extend %nav-items;
        text-transform: none;
        color: $primary;
        transition: background-color 0.25s, color 0.25s;

        border-radius: 5px;
        border: 1px solid $primary;

        margin-left: 20px;
        padding: 8px 10px;

        &:hover {
            background-color: $secondary;
        }
    }
}


///// Content /////

.intro {
    height: 450px;
    padding: 36px 10px 0;

    display: flex;

    background: url(spotlightphoto-pale.jpg) top no-repeat;
    background-size: cover; //100% auto;

    @include breakpoint(med) {
        height: 300px;
        padding: 0 10px 36px;
    }
    @include breakpoint(xsmall) {
        height: 250px;
        padding: 36px 10px 0;
    }
}
.name {
    margin: auto;
    grid-area: header;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__main {
        font-size: 125px;
        margin-top: 29px + 50px; // To center the name, to account for the subtext at the bottom
        margin-bottom: 50px;

        @include breakpoint(large) {
            font-size: 12vw;
        }
        @include breakpoint(xsmall) {
            font-size: 65px;
        }
    }

    &__subtext {
        display: inline-block;

        font-family: 'Open Sans', sans-serif;
        font-size: 29px;
        text-transform: uppercase;

        color: white;
        background-color: $secondary;

        padding: 12px;
        border-radius: 5px;

        @include breakpoint(large) {
            font-size: 2.5vw;
            padding: 1.5vw;
        }
        @include breakpoint(small) {
            font-size: 3vw;
            padding: 1.8vw;
        }
        @include breakpoint(xsmall) {
            display: none;
        }
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "header header"
                         "intro-image intro-text";
    grid-gap: 40px 40px;


    margin: 0 auto;
    padding: 0 10px;
    max-width: 1000px;

    @include breakpoint(small) {
        grid-template-areas: "header header"
                             "intro-text intro-text"
                             "intro-image intro-image";
        width: 75%;
    }
    @include breakpoint(xsmall) {
        width: 85%;
    }
}



.intro-image {
    grid-area: intro-image;
    position: relative;

    background: url(spotlightphoto.jpg) center/cover no-repeat;

    height: 300px;
    border-radius: 5px;
    border: 3px solid $secondary;

    &::before { // Just to denote there's a placeholder image
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        content: 'PLACEHOLDER IMAGE';
        color: white;
        font-weight: 600;
        font-size: 40px;
        text-align: center;

        padding-top: 130px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.85);
    }
}

.intro-text {
    grid-area: intro-text;
    align-self: center;

    &__heading {
        margin-top: 0;
    }

    &__text {
        text-align: center;
    }
}
